*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1200px;
    }
}
.main{
    color: #FFFFFF;
    background-color: #94D4FF;
    background: linear-gradient(to top, #94D4FF 0%, #FFFFFF 80%);
}
.box-1 {
    display: flex;
    flex-direction: column;
}
.box-1 .content {
    display: flex;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
.box-1 .sectionone {
    padding: 50px 0px 0px 0px;
    display: flex;
}
.sectionone .logo img {
    width: 367.24px;
    height: 118.23px;
}
.sectionone .content-under {
    height: 336px;
    width: 100%;
}

.sectionone .text {

}
.sectiontow .text h1 {
    font-size: 58px;
    line-height: 110px;
    color: #0099FF;

}
.sectiontow .text p {
    font-size: 25px;
    line-height: 40px;
    color: #0F0D0F;
}
.research form {
    height: 76px;
    padding: 10px 12px 10px 30px;
    background-color: #FFFFFF ;
    max-width: 100%;
}
.form {
    margin: 20px 0px;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    max-width: 100%;
}
.form input::placeholder {
    color: #919191;
}
.form input {
    padding: 20px;
    border-radius: 53px;
    border: none;
    flex: 1;
    caret-color: #0099FF;
    outline: none;
    font-size: 20px;
}
.form button {
    border-radius: 50px;
    border: none;
    background-color: #0099FF;
    color: white;
    font-weight: bold;
    padding: 0px 25px 0px 25px;
    cursor: pointer;
    width: 143px;
    height: 56px;
    border-radius: 53px;
    font-size: 16px;
}
.sectiontow {
    display: grid;
    grid-template-columns: 50% 48%;
    gap: 2%;
}
.sectiontow .van img{
    max-width: 100%;
}
.box-2 {
    height: 187px;
}
.box-2 .photo-under img {
    width: 100%;
}
.text-under {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nsdnd {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-under ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text-under ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0B44AA;
    font-size: 18px;
}
.li1 {
    color: #0B44AA;
    font-size: 22px;
    font-weight: 600;
}
.li3 .spa-1 {
    font-size: 23px;
    font-weight: normal;
}
@media (max-width: 768px){
    .sectiontow {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 59px;
    }
    .research form {
        margin-left: -27px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .main {
        width: 768px;
        height: 1700px;
    }
    .box-1 .sectionone {
        justify-content: center;
    }
    .van {
        display: flex;
        justify-content: center;
    }
    .sectiontow .van img { 
        width: 669px;
    }
    .sectiontow .text h1 {
        text-align: center;
        margin-top: -80px;
        font-size: 93px;
        margin-bottom: 20px;
    }
    .sectiontow .text p {
        text-align: center;
        font-size: 30px;
        color: #0F0D0F;
    }
    .text-under ul {
        flex-direction: column;
        gap: 40px;
    }
    .research form {
        font-size: 100px;
        align-items: center;
        height: 100px;
    }
    .form input {
        font-size: 29px;
    }
    .form button {
        height: 70px;
    }
    .box-2 .photo-under img {
        transform: scale(4.5);
        left: -434px;
        position: relative;
        width: 413px;
    }
    .box-2 {
        margin-top: 85px;
    }
    .text-under {
        margin-top: 60px;
    }
    .text-under ul li {
        font-size: 40px;
    }
}